.container{
  display: flex;
  justify-content: center;
  margin: 25px 25px;
  .form-container{
    padding: 20px;
    background-color: rgb(64, 64, 64);
    border-radius: 10px;
    display: flex;
    .contact-image{
      width: 230px;
      height: 230px;
      border-radius: 10px;
      display: block;
    }
    .add-contact{
      .info-box{
        margin: 0px 20px 0px 20px;
        .input{
          padding: 5px;
          border-radius: 5px;
          border: 1px solid white;
        }
        .full-name{
          width: 300px;
        }
        .phone-number{
          width: 300px;
        }
        .city{
          width: 300px;
        }
        .state{
          width: 300px;
        }
      }
      .submit-contact{
        float: right;
        padding: 5px 10px 5px 10px;
        border: 1px solid rgb(0, 34, 102);
        border-radius: 5px;
        background-color: rgb(0, 34, 102);
        color: white;
      }
    }
  }
}
.container-one{
  .contact-list{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .contact{
      text-align: center;
      height: 200px;
      margin: 10px;
      padding: 5px;
      border: 1px solid rgb(64, 64, 64);
      border-radius: 10px;
      background-color: rgb(0, 34, 102);
      color: white;
      .new-contact-picture{
        width: 200px;
        border-radius: 10px;
        .contact-info{

        }
      }
    }
  }
}
