.container{
  margin: 25px 25px;
  .form-container{
    padding: 20px;
    background-color: rgb(64, 64, 64);
    border-radius: 10px;
    .add-contact{
      display: flex;
      justify-content: space-around;
      align-items: center;
      .contact-image{
        width: 200px;
        height: 200px;
        border-radius: 10px;
      }
      .info-box{
        margin: 0px 20px 0px 20px;
        .input{
          padding: 5px;
          border-radius: 5px;
          border: 1px solid white;
        }
        .full-name{
          width: 300px;
        }
        .phone-number{
          width: 300px;
        }
        .city{
          width: 300px;
        }
        .state{
          width: 300px;
        }
      }
      .submit-contact{
        padding: 5px 10px 5px 10px;
        border: transparent;
        background-color: rgb(153, 255, 51);
      }
    }
  }
  .contact-list{
    list-style: none;
    margin: 0px 30px 0px 30px;
    .contact{
      border: 1px solid rgb(64, 64, 64);
      text-align: center;
      height: 200px;
      margin: 10px 0px 10px;
      .new-contact-picture{
        width: 200px;
        border-radius: 10px;
        .contact-info{

        }
      }
    }
  }
}
